Repository davidkelley/vcr: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

.lintstagedrc:

{
  "*.js": ["npm run lint -- --fix", "npm test -- --findRelatedTests"],
  "*.*": "npm run format",
}

fix: correcting name of package
  README.md
  package-lock.json
  package.json
Due: npm run format

feat: initial release
  .github/workflows/main.yml
  .releaserc
  package-lock.json
  package.json
Due: npm run format

ci: adding github and npm secrets to workflow
  .github/workflows/main.yml
Due: npm run format

chore: 🤖 released version 1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format

Notes added by 'git notes add'
  d00d62f8e0200d6364501c2c6b4593733cb88935
Due: none

fix: adding access=public .npmrc file
  .npmrc
Due: npm run format

chore: 🤖 released version 1.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format

Notes added by 'git notes add'
  92ae2114b13805147051db7c9b233ea14b6c83f0
Due: none

fix: 🐛 handling URLs not prefixed with forward slash correctly
  .gitignore
  package-lock.json
  package.json
  src/server/cache.js
  src/server/cache.test.js
  src/server/har.js
  src/server/index.js
  src/server/index.test.js
Due: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

feat: 🎸 enabling ignoreQueryParameters proxy option
  README.md
  src/server/__snapshots__/cache.test.js.snap
  src/server/cache.js
  src/server/cache.test.js
  src/utils/schema.json
Due: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

docs: ✏️ updated code comments for classes
  src/cli/index.js
  src/server/cache.js
  src/server/har.js
  src/server/index.js
Due: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

chore: 🤖 released version 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format

Notes added by 'git notes add'
  ab1f939f825f59ffa4f27580067e45fb9e09619e
Due: none

feat: 🎸 implemented replay functionality, tests and docs
  .gitignore
  package-lock.json
  package.json
  src/cli/index.js
  src/commands/__fixtures__/__vcr__/httpbin.org/get/b4b5dd3958b36412baefd28aec16d5c4d7be1bf6f85d12dee1a00fb39d938fc9.har
  src/commands/play.js
  src/commands/play.test.js
  src/commands/record.js
  src/commands/record.test.js
  src/commands/replay.js
  src/server/__fixtures__/.keep
  src/server/__snapshots__/cache.test.js.snap
  src/server/cache.js
  src/server/cache.test.js
  src/server/har.js
  src/server/har.test.js
  src/server/index.js
  src/utils/debug.js
  src/utils/debug.test.js
Due: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

chore: 🤖 released version 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format

Notes added by 'git notes add'
  abf3671ae42b8709e2c267fb063b875436c335df
Due: none

fix: 🐛 ensuring serveer is started after onStart event attached
  package-lock.json
  src/cli/index.js
  src/commands/play.js
  src/commands/record.js
Due: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

chore: 🤖 released version 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format

Notes added by 'git notes add'
  e0c8354f41eab149f1ac2ceacab4be1469eb3f6e
Due: none

feat: 🎸 implemented integration with testcafe
  index.js
  testcafe.js
Due: npm run lint -- --fix, npm test -- --findRelatedTests, npm run format

chore: 🤖 released version 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format

Notes added by 'git notes add'
  f64a32319dd07e295f5aefa4bdc1301173ce5c06
Due: none
